@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

@keyframes border {
    0% {border-radius: 0 15px 0 15px;}
    50% {border-radius: 15px 0 15px 0}
    0% {border-radius: 0 15px 0 15px;}
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;

}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




.frame {
    width: 100%;
    height:150vh;
    border: none;
    margin: 0;
}


@media only screen and (max-width: 1000px) {
  .frame {
      height: 200vh;

  }
}
#projects {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
nav {
    border-radius: 10px;
}


.main {

  margin-top: 1%;
  text-align: center;
  margin-bottom: 1%;
  padding:0%;

}

.fill {
  background-color: #e3b834;
  padding: 1%;
  margin: 1%;
  border-radius: 0 15px 0 15px;
  animation-name: border;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  min-width: 200px;

}



.fill1 {
  background-color: #319199;
  padding: 1%;
  margin: 1%;
  border-radius: 0 15px 0 15px;
  animation-name: border;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  min-width: 200px;

}

.fill2 {
  background-color: #d7beba;
  padding: 1%;
  margin: 1%;
  border-radius: 0 15px 0 15px;
  animation-name: border;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  min-width: 200px;

}

.fill3 {
  background-color: #f68f6d;
  padding: 1%;
  margin: 1%;
  border-radius: 0 15px 0 15px;
  animation-name: border;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  min-width: 200px;
  

}


.navi {
  margin: 1%;
  height: 10%;
  display: flex;
  flex-direction: row;


}
.foot {
  text-align: center;
  padding: 1%;
  width: 80%;
}
.pad {
  padding: 2%;
}

a {
    font-size: 15px;
    color: black;
}
img {
    width: 10%;
    height: auto;
    margin-left: 1%;
}

.rotate:hover {
 transform: rotate(15deg);
 transition:1s;

}


h3 {
    font-size: 40px;

}

.rlign {
    text-align: left;
}


@media only screen and (min-width: 500px) {
  .bg {
    background-image: url('../wallpaper/neonwall.webp');
    background-attachment: fixed;
    background-size: 100% 100vh;

  }
}

.cb {
    background-image: url('../wallpaper/wallpaper-mobile.png');
    background-size: 100% 100vh;
    background-attachment: fixed;
}
@media only screen and (min-width: 500px) {
  .cb {
    background-image: url('../wallaper/wallpaper-mobile.png');
    background-attachment: fixed;
  }
}


#contactinfo {
    margin: 5%;
    text-align: left;
}

.pad2 {
    font-size: 75%;
}

.bt {
    padding: 10px 20px 10px 20px;
    border: 2px solid black;
    /*background-color: #03bafc; */
    background-color:white;
    border-radius: 50px;
    margin:10px;
    max-width: 200px;
}
.down {
    margin-top: 7%;
}
.smallnav {
    display: flex;
    flex-direction: column;
}
.smallheading {
    font-size:1rem;
    margin-left:10px;
}
.emptydiv {
    width:100%;
    height:2rem;
}
i {
    z-index: 1;
    color: black;
    font-size: 30px;
    margin: 1%;
   
}

.dots {
    width: 20px;
    height: auto;
    margin: 1%;
}
.center {
    text-align:center;
}

.large {
    font-size: 30px;
}
.margin-left {
    margin-left:1%;
}
.visual {
    width: 100%;
    height:auto;
    border-radius: 10px;
    margin: 1%;
    margin-top: 4%;
}
.gallery {
    display:flex;
    align-items:flex-start;
    flex-direction: column;
}
.disclaimer {
    z-index: 0;
    width: 100%;
    border: none;
    border-radius: 0;
}
@media only screen and (max-width: 1000px){
    .bignav {
        display:none;
    }
}
@media only screen and (min-width: 1000px) {
    .smallnav {
        display:none;
    }
}
#welcome-section {
    height:100vh;
}

.rounded {
     border-radius: 20%;
}
#switchmode {
    padding:1%;
    color:white;
    border:none;
    background-color:black;
    left:100px;
}
 /*@media only screen and (min-width:400px) {
    .overlay {
    background-color:rgba(231, 231, 231, 0.8);
    }
}
*/
@media only screen and (max-width:500px) {

   

    .bt {
    background-color: rgba(0,0,0,0);
    }
}



.noline {
    text-decoration:none;
}
.name {
    font-weight: bold;
}
.align {
    padding: auto;
}
 /* .scale:hover {
    transform: scale(1.05, 1.05);
    transition:1s;
}
 */
.lang {
    width:20px;
    height:auto;
}

.disclaimer {
    display:none;
}
.logo-container img {
    padding: 1%;
    margin:1%;
    border-radius:20%;
background-color:black;
width : 6rem;
height:6rem;
transition:1s;








}
.logo-container {
    display:flex;
    flex-direction:row;
    padding:1%;

    flex-wrap:wrap;

}
.textbutton {
    border:none;
    background:none;
}
#info {
    display:none;
    transition:1s;
    margin:1%;
    padding:1%;
}
.nav-link:hover {
    border-bottom: 3px solid black;
    transform: scale(1.05, 1.05);
    transform: rotate(-180deg);
    transition:1s;

}
.nav-link {
    transition:2s;
    border-bottom: 3px solid transparent;
}
.scalenav:hover {
    transform: scale(1.05, 1.05);
    transition:1s;
}
.bt:hover {
    background-color:black;
    transition:1s;


}
.bt:hover i {
    background-color:white;
    transition:1s;


}
.bt:hover a{
    color:white;
}
.bt {
    transition:1s;
}
.bt a {
    transition:1s;
}
.bt i {
    transition:1s;
}

#about {
}
.logo-container img:hover {
    transform: scale(1.05, 1.05);
    transition:1s;
}

.inline {
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:center;
    padding:1%;
    margin:1%;
    flex-wrap:wrap;
}
.inline div {
    margin:1%;
    padding: 1%;

}
/* @media (max-width: 500px){
    .inline div {
        font-size:50%;
    }
    i {
        width:50%;
        height:50%;
    }
    .bt {
        transform: scale(0.5);
    }
}
*/
.hoverborder {
    border:1px solid rgba(245, 40, 145, 0);
}

.active {

  animation: appear 1s ease-in-out;
  transform: translateY(0) scaleY(1);
}
@keyframes appear {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

@media only screen and (min-width : 500px) {
    i, p, h1, h2, h3, h4, h5, h6 {
    color:white;
    }
    .scale:hover {
    transform: scale(1.05, 1.05);
    transition:1s;
    background-color:rgba(40,40,40,0.7);


}
.scale {
    transition:1s;
}
}

.bt i {
    color:black;
}
.navigation {

    margin:1%;


    border:none;
    color:black;
    width:auto;
    height:auto;



}
.rotate {

    transform:rotate(0deg);
    transition:1s;
}
a:visited {
    transform:rotate(-0.5deg);
}
hr {
    height:5px;

    color:gray;

}
.whitelogo {
    background-color:white !important
}
.bold {
    font-weight:bold;

}
.navlink {
    transition:1s;

}
.navlink:hover {
    transform:rotate(90deg);
}
@media only screen and (max-width: 500px) {
	
	.overlay {
	background-color:rgba(0,0,0,0) !important
	}
	

}
@media only screen and (max-width: 500px) {
  .bg {
    background-image: url('../wallpaper/wallpaper-mobile.webp') !important

  }
  .bg {
      background-attachment: fixed;
      width:100%;
      height:1000px !important
  }
  .bgcontrol {
      display:none;

  }
	
}
.bgcontrol {
    color:white;
}
bdo {
    color:white;
}
#navbar {
    height: 30px !important

}



.bignav {
   background-image: url('../wallpaper/navbar-wallpaper.webp');
   background-size: 100%;
   background-position:bottom;
   overflow:hidden;






}
@media only screen and (max-width:500px) {
  .bt a {
    font-size:80% !important
  }
}

.header {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #1c95c0;
  width: 0%;
}
html {
  height: 1000px;
}



.projectimg {
    width:40%;
    height:auto;
    margin:1%;
    border-radius: 2%;
    min-width: 300px;
}

#info a {
    color:white;
}

.ekstra a{
 color:white;
}

@media only screen and (max-width:500px) {
    #info a {
        color:black;
    }
    .ekstra a{
        color:black !important
    }
    .col li {
        color:black;
        }
    footer {
        color:black;
    }
}

.iconholder {
    padding:50%;
    height:20px;
    width:auto;
    border-radius: 50%;
    background-color: rgb(0, 0, 0) !important
   
}

#myDiv {
    display:none;
}

.row li {
color:white;
}

footer {
    color:white;
}