<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <ul>
      <li>Italy</li>
      <li>Germany</li>
      <li>France</li>
      <li>United Kingdom</li>
      <li>Belgium</li>
      <li>Austria</li>
      <li>Bulgaria</li>
      <li>Hungary</li>
      <li>Denmark</li>
      <li>Greece</li>
      <li>Finland</li>
      <li>Spain</li>
      <li>Estonia</li>
      <li>Luxembourg</li>
      <li>Croatia</li>
      <li>Poland</li>
      <li>Portugal</li>
      <li>Netherlands</li>
      <li>Latvia</li>
      <li>Romania</li>
      <li>Ireland</li>
      <li>Lithuania</li>
      <li>Sweden</li>
      <li>Slovenia</li>
      <li>Malta</li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>
